@inherits NavUpperBase

<div class="d-flex align-center">
    <MudImage Src="img/accelerate-white.svg" Width="40" Height="40" />
    <MudText>FeatureTracker</MudText>
</div>

<div class="d-flex justify-center align-center gap-3" style="">

        <Notification />

        <MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle" Class="mx-4 my-4"
                    Style="border-color: #505050;" />

        <UserMenu OnToggleDarkMode="ToggleDarkMode" />
</div>
